## HiShare specific ignores
Parcels/*

## Eclipse/Spring/Maven ignores
target
bin
.classpath
.project
.settings
.scala_dependencies
.springBeans
ajcore.*
build.xml
db-dump.xml
.external*
Copy of db-dump.xml
Copy of jdbc.properties
src/test/resources/db-dump.xml
reports
META-INF

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.keystore
