<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
   "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>

  <bean id="helloWorld" class="org.opensafety.hishare.implementation.HelloWorldImpl">
  </bean>

	<bean name="helloWorldExporter" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
	    <property name="service" ref="helloWorld"/>
	    <property name="serviceInterface" value="org.opensafety.hishare.interfaces.HelloWorld"/>
	</bean>
</beans>